<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <%= csrf_meta_tag() %>
    <%= live_title_tag assigns[:page_title] || "GamesRoom", suffix: " · Phoenix Framework" %>
    <link rel='stylesheet' href='<%= Routes.static_path(@conn, "/css/app.css") %>'/>
    <script defer type='text/javascript' src='<%= Routes.static_path(@conn, "/js/app.js") %>'></script>
  </head>
  <body class="bg-gray-100 px-8 py-4">
    <header class="flex">
      <div class="text-gray-900 text-4xl text-center border-2 border-gray-500 w-4/5">
        Changeban!
      </div>
      <div class="text-gray-900 text-2xl text-center border-2 border-gray-500 w-1/5">
        Hi <%= @username %>
      </div>
    </header>
    <%= @inner_content %>
    <footer>
      <p class="text-gray-900 text-base text-center border-2 border-gray-500">
        Footer
      </p>
    </footer>
  </body>
</html>
