<main role="main" class="container">
  <p class="absolute z-40 font-sans" role="alert"><%= get_flash(@conn, :info) %></p>
  <p class="absolute z-40 font-sans" role="alert"><%= get_flash(@conn, :error) %></p>
  <%= render @view_module, @view_template, assigns %>
</main>
